<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head.ejs')%>
<body>
    <%- include('./../partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint distinctio repellat debitis soluta fugiat. Eligendi pariatur eos ab, corporis quod minus veritatis, consequuntur quo iure tempore vitae numquam! Illo, modi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint distinctio repellat debitis soluta fugiat. Eligendi pariatur eos ab, corporis quod minus veritatis, consequuntur quo iure tempore vitae numquam! Illo, modi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint distinctio repellat debitis soluta fugiat. Eligendi pariatur eos ab, corporis quod minus veritatis, consequuntur quo iure tempore vitae numquam! Illo, modi?</p>        
    </div>
    <%- include('./../partials/footer.ejs')%>
</body>
</html>